@model AccountSavedCoursesViewModel

<section id="account-saved-courses">
    <div class="container">

        <aside>
            <div class="profile-info">
                <div class="image">
                    @if (Model.BasicForm.ProfileImage != null)
                    {
                        <img src="~/images/uploads/@Model.BasicForm.ProfileImage" alt="@($"{Model.BasicForm.FirstName} {Model.BasicForm.LastName}")" />
                    }
                    <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn-circle"><i class="fa-regular fa-refresh"></i></label>
                    </form>
                </div>
                <h5>@($"{Model.BasicForm.FirstName} {Model.BasicForm.LastName}")</h5>
                <p>@Model.BasicForm.Email</p>
            </div>

            <nav>
                <a class="btn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-sharp fa-regular fa-arrow-right-from-bracket"></i>Sign Out</a>
            </nav>
        </aside>

        <div class="saved-items">

            <div class="title-box">
                <h2>Saved items</h2>
                <a asp-controller="Account" asp-action="DeleteAll" class="btn-red-transparent"><i class="fa-regular fa-trash"></i>Delete all</a>
            </div>
            <p>@Model.DisplayMessage</p>

            <div class="content">

                @foreach(var courses in Model.AllCourses)
                {
                    @if(Model.SavedCourses.Any(x => x.CourseId == courses.Id))
                    {
                        <div class="course-box">
                            <div class="image-box">
                                <img src="/@courses.ImageName" alt="">
                                @if (courses.IsBestseller)
                                {
                                    <div class="best-seller">Best Seller</div>
                                }
                                <a asp-controller="Account" asp-action="Bookmark" asp-route-id="@courses.Id" class="bookmark">
                                     <i class="fa-sharp fa-solid fa-bookmark saved"></i>
                                </a>
                            </div>
                            <a asp-controller="Courses" asp-action="SingleCourse" asp-route-id="@courses.Id" class="course-text-box">
                                <h5>@courses.Title</h5>
                                <p>By @courses.Author</p>
                                @if (courses.DiscountPrice == 0)
                                {
                                    <p class="price">$@courses.OriginalPrice</p>
                                }
                                else
                                {
                                    <div class="discount-price-box">
                                        <p class="discount-price">$@courses.DiscountPrice</p>
                                        <p class="original-price">$@courses.OriginalPrice</p>
                                    </div>
                                }
                                <hr />
                                <div class="time-rating">
                                    <p><i class="fa-light fa-clock"></i>@courses.Hours hours</p>
                                    <p><i class="fa-light fa-thumbs-up"></i>@String.Format("{0:0}", courses.LikesInProcent)% (@String.Format("{0:0.0}", courses.LikesInNumbers / 1000)k)</p>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</section>
@await Html.PartialAsync("_FileUploadScriptPartial")