@model HomeViewModel

<section id="newsletter">
    <div class="container">

        <div class="title-box">
            <h1>Don't want to Miss Anything?</h1>
            <img src="/images/arrows.svg" alt="">
        </div>
        <form method="post" asp-controller="Home" asp-action="Subscribe" novalidate>
            <div class="signup">
                <h5>Sign up for<br>Newsletters</h5>
                <div class="content">
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.DailyNewsletter"/>
                        <label asp-for="@Model.NewsLetter.DailyNewsletter"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.AdvertisingUpdates" />
                        <label asp-for="@Model.NewsLetter.AdvertisingUpdates"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.WeekInReview" />
                        <label asp-for="@Model.NewsLetter.WeekInReview"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.EventUpdates" />
                        <label asp-for="@Model.NewsLetter.EventUpdates"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.StartupsWeekly" />
                        <label asp-for="@Model.NewsLetter.StartupsWeekly"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="@Model.NewsLetter.Podcasts" />
                        <label asp-for="@Model.NewsLetter.Podcasts"></label>
                    </div>
                </div>
            </div>

            <span asp-validation-for="@Model.NewsLetter.Email"></span>
            <div class="subscribe">
                <div class="input-div">
                    <i class="fa-light fa-envelope"></i>
                    <input asp-for="@Model.NewsLetter.Email" />
                </div>
                <button class="btn-theme" type="submit">Subscribe*</button>
            </div>
            <p>* Yes, I agree to the <a asp-controller="Security" asp-action="Terms">terms</a> and <a asp-controller="Security" asp-action="Privacy">privacy policy.</a></p>
            <p>@Model.DisplayMessage</p>
        </form>
    </div>
</section>
@await Html.PartialAsync("_ValidationScriptPartial")