@model CourseViewModel

<section id="courses">
    <div class="container">
        <div class="link-box">
            <i class="fa-light fa-house"></i>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-sharp fa-light fa-chevrons-right"></i>
            <p>Courses</p>
        </div>
        <div class="title-box">
            <h1>Courses</h1>
            <div class="categories-box">
                <select id="categories">
                    <option value="">All categories</option>
                </select>
                <div class="input-div">
                    <input type="text" placeholder="Search courses">
                    <i class="fa-light fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <p>@Model.DisplayMessage</p>

        <div class="content">
            @if(Model.List!.Count() != 0)
            {
                @foreach (var course in Model.List!)
                {
                    <div class="course-box">
                        <div class="image-box">
                            <img src="@course.ImageName" alt="">
                            @if (course.IsBestseller)
                            {
                                <div class="best-seller">Best Seller</div>
                            }
                            <a asp-controller="Courses" asp-action="Bookmark" asp-route-id="@course.Id" class="bookmark">
                                @if(Model.SavedList != null)
                                {
                                    if(Model.SavedList.Any(savedItem => savedItem.CourseId == course.Id))
                                    {
                                        <i class="fa-sharp fa-solid fa-bookmark saved"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-light fa-bookmark"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fa-light fa-bookmark"></i>
                                }
                            </a>
                        </div>
                        <a asp-controller="Courses" asp-action="SingleCourse" asp-route-id="@course.Id" class="course-text-box">
                            <h5>@course.Title</h5>
                            <p>@course.Author</p>
                            @if (course.DiscountPrice == 0)
                            {
                                <p class="price">$@course.OriginalPrice</p>
                            }
                            else
                            {
                                <div class="discount-price-box">
                                    <p class="discount-price">$@course.DiscountPrice</p>
                                    <p class="original-price">$@course.OriginalPrice</p>
                                </div>
                            }
                            <hr />
                            <div class="time-rating">
                                <p><i class="fa-light fa-clock"></i>@course.Hours hours</p>
                                <p><i class="fa-light fa-thumbs-up"></i>@String.Format("{0:0}", course.LikesInProcent)% (@String.Format("{0:0.0}", course.LikesInNumbers / 1000)k)</p>
                            </div>
                        </a>
                    </div>
                }
            }

            <div class="button-box"></div>
        </div>

        <div class="work-with-us">
            <div class="text-box">
                <p>Ready to get started?</p>
                <h1>Take Your <span class="theme">Skills</span> to the Next Level</h1>
                <a asp-controller="Career" asp-action="Index" class="btn-theme">Work with us</a>
            </div>
            <img src="/images/work-with-us.svg" alt="">
        </div>

    </div>
</section>