@model CourseEntity

<section class="single-course-showcase">
    <div class="background-image" style="background-image: url('@Model.ImageName');"></div>
    <div class="container">
        <div class="link-box">
            <a asp-controller="Home" asp-action="Index"><i class="fa-thin fa-house"></i>Home</a>
            <p class="link-box-arrows"><i class="fa-solid fa-chevrons-right"></i></p>
            <a asp-controller="Courses" asp-action="Index">Courses</a>
            <p class="link-box-arrows"><i class="fa-solid fa-chevrons-right"></i></p>
            <p>@Model.Title</p>
        </div>
        <div class="tags">
            @if (Model.IsBestseller)
            {
                <div class="tag-box best-seller">Best Seller</div>
            }
            <div class="tag-box digital">Digital</div>
        </div>
        <h1 class="title-h1">@Model.Title</h1>
        <p class="title-p">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>

        <div class="rating-box">
            <div class="rating">
                <i class="yellow fa-sharp fa-solid fa-star"></i>
                <i class="yellow fa-sharp fa-solid fa-star"></i>
                <i class="yellow fa-sharp fa-solid fa-star"></i>
                <i class="yellow fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-regular fa-star"></i>
                <p>(1.2K reviews)</p>
            </div>

            <p class="likes"><i class="fa-light fa-thumbs-up"></i>(@String.Format("{0:0.0}", Model.LikesInNumbers / 1000)k)</p>

            <p class="length"><i class="fa-light fa-clock"></i>@Model.Hours hours</p>
        </div>
        <div class="author-box">
            <img src="~/images/fullstack-author.png" alt="">
            <div class="text-box">
                <h5>Created by</h5>
                <p>@Model.Author</p>
            </div>
        </div>
    </div>
</section>
<section class="single-course-details">
    <div class="container">
        <div class="top-part">
            <div class="top-left">
                <div class="description">
                    <h1>
                        Course Description
                    </h1>
                    <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                </div>
                <div class="what-you-learn">
                    <h2>What you'll learn</h2>
                    <p><i class="fa-regular fa-circle-check"></i>Sed lectus donec amet eu turpis interdum.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Nulla at consectetur vitae dignissim porttitor.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Phasellus id vitae dui aliquet mi.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    <p><i class="fa-regular fa-circle-check"></i>In aenean dolor diam tortor orci eu.</p>
                </div>
            </div>
            <div class="top-right">
                <h3>This course includes:</h3>
                <p><i class="fa-sharp fa-regular fa-tv"></i><span>148 hours on-demand video</span></p>
                <p><i class="fa-regular fa-file-invoice"></i><span>18 articles</span></p>
                <p><i class="fa-regular fa-down-to-bracket"></i><span>25 downloadable resources</span></p>
                <p><i class="fa-regular fa-infinity"></i><span>Full lifetime access</span></p>
                <p><i class="fa-regular fa-trophy"></i><span>Certificate of completion</span></p>
                <div class="price-box">
                    @if (Model.DiscountPrice == 0)
                    {
                        <h2>$@Model.OriginalPrice</h2>
                    }
                    else
                    {
                        <h2>$@Model.DiscountPrice</h2>
                        <h4>$@Model.OriginalPrice</h4>
                    }
                </div>
                <a asp-controller="Courses" asp-action="Purchase" class="btn-theme-s">Join course</a>
            </div>
        </div>

        <div class="program-details">
            <h1>Program Details</h1>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        1
                    </h4>
                </div>
                <div>
                    <h3>
                        Introduction. Getting started
                    </h3>
                    <p>
                        Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        2
                    </h4>
                </div>
                <div>
                    <h3>
                        The ultimate HTML developer: advanced HTML
                    </h3>
                    <p>
                        Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        3
                    </h4>
                </div>
                <div>
                    <h3>
                        CSS & CSS3: basic
                    </h3>
                    <p>
                        Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        4
                    </h4>
                </div>
                <div>
                    <h3>
                        JavaScript basics for beginners
                    </h3>
                    <p>
                        Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        5
                    </h4>
                </div>
                <div>
                    <h3>
                        Understanding APIs
                    </h3>
                    <p>
                        Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="number-circle">
                    <h4>
                        6
                    </h4>
                </div>
                <div>
                    <h3>
                        C# and .NET from beginner to advanced
                    </h3>
                    <p>
                        Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.
                    </p>
                </div>
            </div>
        </div>
        <div class="author-showcase">
            <img src="~/images/fullstack-author.png" alt="">
            <div class="author-details">
                <h5>Learn from the best</h5>
                <h2>@Model.Author</h2>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="author-social-media">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn-red"><i class="fa-brands fa-youtube"></i> 240k subscribers</a>
                    <a href="https://www.facebook.com/groups/1227101530780145" class="btn-blue"><i class="fa-brands fa-square-facebook"></i> 180k followers</a>
                </div>
            </div>
        </div>
    </div>
</section>